
$rightColumnWidth: 31%;
@import "./mixins.scss";

body {
	font-family: $pagesFont;
}

.student__coupons__wrap_activated, .student__coupons__wrap_deactivated{
	width: 100%;
	height: 100%;
	display: none;
	@include studentCard;
	&.student__coupons__wrap_activated .student__coupons__state{
		background: #fff url(../img/student_content/coupon_activated.png) no-repeat center center;
		background-size: 100% 168px;
	}
	&.student__coupons__wrap_deactivated .student__coupons__state{
		background: #fff url(../img/student_content/no_coupon.png) no-repeat center center;
		background-size: 100% 168px;
	}
}

.student__coupons__wrap_deactivated{
	display: block;
}
.student__coupons__state{
	width: 100%;
	height: 168px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.student__coupons__state__title{
	font-weight: 500;
	font-size: 31px;
	line-height: 31px;
	color: #FFFFFF;
	margin-bottom: 8px;
	text-align: center;
}

.student__coupons__state__subtitle{
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	font-weight: 400;
	color: #FFFFFF;
}

.student__coupons__info{
	padding: 34px 8% 80px 8%;
}
.student__coupons__info__tabs{
	display: flex;
	@include borderBottomGrey;
}

.student__coupons__inner__title{
	margin-right: 36px;
	padding-bottom: 6px;
	@include student__content__inner__title;
	color: #a6a7b2;
	font-weight: 500;
	position: relative;
	width: max-content;
	&:hover{
		cursor: pointer;
		font-weight: bold;
		color: #2269E8;
	}
	&.student__coupons__inner__title_active{
		font-weight: bold;
		color: #2269E8;
		&:after{
			content: '';
			height: 3px;
			width: 100%;
			background-color: #2269E8;
			position: absolute;
			left: 0;
			bottom: -2px;
			z-index: 1;
		}
	}
}

.student__coupons__info__filter{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 23px;
	padding-bottom: 24px;
	border-bottom: 1px solid rgb(219, 220, 224);
}

.student__coupons__info__filter__item{
	padding: 3px 16px;
	background: #f6cb2661;
	color: rgb(153, 150, 144);
	box-sizing: border-box;
	border-radius: 10px;
	font-size: 14px;
	line-height: 24px;
	display: flex;
	align-items: center;
	margin-right: 16px;
	&:last-child{
		margin-right: 0;
	}
	span{
		margin-left: 5px;
		font-weight: 400;
	}
	&.student__coupons__info__filter__item_active{
		background: #FFCB24;
		border: 2px solid #EDAD07;
		color: #34374E;
		span{
			font-weight: 600;
		}
	}


}

.student__coupons__item{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 24px;
	border-bottom: 1px solid rgb(219, 220, 224);
}

.student__coupons__item__hash{
	width: 30%;
	background: rgb(242, 243, 250);
	border-radius: 10px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 40px;
	font-weight: 500;
	font-size: 25px;
	line-height: 24px;
	color: #5B5D66;
}

.student__coupons__item__info{
	width: 70%;
	margin-top: 4px;
}

.student__coupons__item__info__label{
	display: flex;
	align-items: center;
	color: rgb(166, 167, 178);
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	span{
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		color: #4D4F66;
		margin-left: 4px;
		&.green{
			@include greenSpan;
		}
		&.red{
			@include redSpan;
		}
	}
}

.student__coupons__item__info__activate{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 17px;
}

.student__coupons__item__info__warning{
	margin-left: 16px;
	font-size: 12px;
	line-height: 16px; 
	color: #4D4F66;
	svg{
		margin-right: 5px;
	}
}

.student__coupons__add, .student__coupons__buy{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-top: 32px;
	flex-direction: column;

}
.student__coupons__add__item{
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding-top: 24px;
	padding-bottom: 41px;
	.student__content__button{
		width: $rightColumnWidth;
	}
}
.student__coupons__add__item__hash{
	border: 1px solid #7D7D7D;
	padding: 11px 0;
	text-align: center;
	border-radius: 10px;
	width: 70%;
	margin-right: 25px;
	font-weight: 500;
	font-size: 25px;
	line-height: 24px;
	color: #5B5D66;
}
.student__coupons__buy__wrap{
	display: flex;
	padding-top: 23px;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}
.student__coupons__buy__item{
	width: $rightColumnWidth;
	padding: 32px 24px;
	background: #F2F3FA;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	height: 376px;
}
.student__coupons__buy__item__svg{
	height: 40%;
	display: flex;
	align-items: center;
}
.student__coupons__buy__item__term{
	font-weight: 500;
	font-size: 31px;
	text-align: center;
	color: #4D4F66;
}

.student__coupons__buy__item__about{
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	color: #4D4F66;
	margin-bottom: 26px;
	margin-top: 11px;
}

.student__content__button_yellow{
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #34374E;
	background: #FFCB24;
	border-radius: 10px;
	padding: 14px 20px;
}





