


.js-button-campaign3, .js-button-campaign4 {
	opacity: 0.2;
	width: 50px;
}
@import "./mixins.scss";
$steps__quotes_zIndex: 10;
$popup_zIndex: 90;
$header_zIndex: 100;
$header-fixed_zIndex: 110;

button, input, optgroup, select, textarea {
    margin: 0;
	font-family: inherit;
}


html {
	font-size: 62.5%;
	height: 100%;
}

body {
	font-family: 'Istok Web', sans-serif;
	// background: red;
	position: relative;
	font-family: $mainFont;
	font-size: 1.7rem; /* =17px */
	// height: 100vh;
	// height: 100%;
	min-height: 100%;
}

input {
	outline:none;
	margin: 0;
}

p {
	margin-top: 0;
	margin-bottom: 0;
	@include otherText;
}

button:active,
button:focus,
button:hover{
	outline: none;
}

ul {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
	}
}

.boldText {
	font-weight: bold;
	margin-bottom: 18px;
}

.footer .boldText {
	margin-bottom: 0;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

h1 {
	font-size: 5.0rem; /* =50px */
	line-height: 7.7rem;
	font-weight: bold;
}

h2 {
	@include blueTitle;
}

h3 {
	@include greyTitle;
}

h4 {
	@include otherText;
	font-weight: bold;
}



.btn__small {
	width: 125px;
	padding: 13px 11px;
	@include btn;
}

.btn__little {
	width: 144px;
	padding: 13px 10px;
	@include btn;
}

.btn__middle {
	width: 180px;
	padding: 16px 35px;
	@include btn;
}

.footer .btn__middle {
	padding: 13px 10px;
}

.btn__big {
	width: 216px;
	padding: 17px 64px;
	@include btn;
}

.btn__primary {
	background: #367BF5;
	border: 1px solid #367bf5;
	color: #fff;
	text-transform: uppercase;

	&:hover {
		background: #4588FF;
		text-decoration: none;
		color: #fff;
	}

	&:active {
		background: #377DFA;
		text-decoration: none;
		color: #fff;
	}
}

.btn__secondary {
	background: #FFFFFF;
	border: 1px solid #367BF5;
	color: #367BF5;

	&:hover {
		border: 1px solid #4588FF;
		color: #4588FF;
		text-decoration: none;
	}

	&:active {
		border: 1px solid #377DFA;
		color: #377DFA;
		text-decoration: none;
	}
}

.container-fluid {
	width: 1238px;
	margin: auto;
	// background: gold;
}

.header__nav  {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 42px;
	padding-bottom: 42px;;
}

#header {
	height: 128px;
	// width: 1208px;
	width: 100%;
	margin: 0px auto;
	z-index: $header_zIndex;
	background: #fff;
  }

	.headerBoxShadow {
		box-shadow: 0px 4px 8px rgba(23, 87, 202, 0.2);
	}

.header__wrap {
	height: 128px;
	width: 1208px;

	// position: fixed;
	// z-index: 99;
	// margin-left: -16px;
}

.header-fixed {
	position: fixed;
	z-index: $header-fixed_zIndex;
}

.header__logo {
	width: 119px;
	height: 44px;

}

.header__list  {
		display: flex;
		justify-content: space-between;
		margin-right: auto;
    	margin-left: 50px;

		li {
			list-style-type: none;
			text-transform: uppercase;
			letter-spacing: 0.06em;
			font-size: 1.4rem;
			margin-right: 40px;
		}

		a {
			color: #2F3C50;
		}
	}


.header__buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.header__user{
		display: flex;
		align-items: center;
		position: relative;
		img{
			margin-right: 10px;
		}
		i{
			color: #2269E8;
			margin-left: 10px;
			right: -25px;
		}
	}
}

.header__buttons_mob {
	display: none
}

.header__buttons .btn__secondary {
	margin-right: 24px;
}

.main {
	margin-bottom: 197px;
}

.main__Wrap {
	margin-bottom: 336px;
}

.main__main {
	margin-top: 70px;
	text-align: center;


	p {
		margin-top: 10px;
		margin-bottom: 55px;
		font-size: 2.2rem;
	}
}

.main__block {
	margin-top: 190px;
	position: relative;

}

.main__vectors {
	text-align: right;
	background: #FAFBFF;
	padding: 13px;
 	box-shadow: 0px 1px 4px #E4EAF7;
	border-radius: 20px 20px 0px 0px;
}

.main__overlay {
	background: #FCFCFC;
	border: 2px solid rgba(219, 229, 239, 0.1);
	width: 82%;
	border-radius: 20px;
	margin: 0 auto;
	position: relative;
	box-sizing: border-box;
}

.main_img {
	height: 532px;
}

.main__shadow1 {
    position: absolute;
    left: -10px;
    top: -66px;
	border-radius: 20px;
	background: #FFFAED;
	// background: green;
	width: 320px;
	height: 436px;
}

.main__shadow2 {
    position: absolute;
    left: 100px;
    top: 53px;
    border-radius: 20px 0 0;
	background: rgba(255,174,61,.111);
	opacity: .5;
	// background: yellow;
    width: 220px;
    height: 382px;
}

.main__shadow3 {
	position: absolute;
	left: 31%;
	top: -30px;
	border-radius: 20px;
	background: #F6EAFF;
	// background: blue;
	width: 404px;
	height: 40px;
}

.main__shadow4 {
    position: absolute;
    left: 0;
    top: 12px;
	background: rgba(111, 30, 184, 0.1);
opacity: 0.3;
	// background: orange;
    width: 404px;
    height: 40px;
}


.main__shadow5 {
	position: absolute;
	right: 54px;
	top: -59px;
	border-radius: 20px;
	background: #FFF3ED;
	// background: blue;
	width: 288px;
	height: 294px;
}

.main__shadow6 {
    position: absolute;
    right: 36px;
    top: 47px;
    border-radius: 0 20px;
	background: rgba(255, 119, 0, 0.1);
	opacity: 0.56;
	// background: orange;
    width: 252px;
    height: 247px;
}

.main__shadow7 {
    position: absolute;
    left: -4px;
    bottom: -110px;
	border-radius: 20px;
	background: #F2F3FF;
	// background: green;
	width: 336px;
	height: 276px;
}

.main__shadow8 {
    position: absolute;
    left: 37px;
    bottom: 88px;
    border-radius: 0 0 0 20px ;
	background: rgba(69, 69, 184, 0.06);
border-radius: 0px 0px 0px 20px;
	// background: yellow;
    width: 299px;
    height: 188px;
}



.main__shadow9 {
    position: absolute;
    right: 38%;
    bottom: -90px;
	border-radius: 20px;
	// background: #FFCB24;
	background: #FFECF4;
    width: 324px;
    height: 112px;
}

.main__shadow10 {
    position: absolute;
    right: 0;
    bottom: 68px;
	background: rgba(222, 21, 107, 0.1);
	opacity: 0.3;
	// background: blue;
	width: 324px;
    height: 32px;
}

.main__shadow11 {
	position: absolute;
	right: 23px;
	bottom: -122px;
	border-radius: 20px;
	// background: yellow;
	background: #EDFCF9;
	width: 336px;
	height: 412px;
}

.main__shadow12 {
	position: absolute;
	right: 66px;
    bottom: 100px;
	border-radius: 0 0 20px;
	background: rgba(11, 182, 139, 0.092);
	opacity: 0.5;
	// background: purple;
	width: 270px;
	height: 312px;
}

.overhead {
	@include overhead;
}

// SECTION STEPS
.steps {
	padding-top: 81px;
	padding-bottom: 200px;

	h2 {
		margin-bottom: 32px;
	}

	ul {
		margin-top: -16px;
		padding-left: 40px;
		margin-bottom: 18px;

		li {
			margin-bottom: 2px;
		}
	}
}

.steps__info {
	margin-bottom: 128px;

	p {
		margin-bottom: 15px;
	}
 }

 .steps__overlay {
	 margin-left: 30px;
 }

 .steps__right {
	 margin-left: 5px;
 }

.steps__quotes {
	width: 68px;
	height: 54px;
	position: absolute;
	top: -31px;
	left: 42px;
	z-index: $steps__quotes_zIndex;
}
.steps__text {
	position: relative;
	border-radius: 20px;
	background: #FCFCFC;
	border: 2px solid rgba(219, 229, 239, 0.1);
	padding: 53px 75px 67px;

}

.steps__shadow2 {
	position: absolute;
	border-radius: 0 0 20px;
	background: rgba(166, 191, 255, 0.4);
	opacity: 0.3;
	width: 276px;
	height: 149px;
 	right: 48px;
	bottom: 34px;
}

.steps__shadow1 {
	position: absolute;
	right: -64px;
	bottom: -51px;
	width: 324px;
	height: 183px;
	background: #EEF2FF;
	border-radius: 20px;
}

// SECTION GURU
.guru {
	background: #F5F6FF;
	padding-top: 151px;
	padding-bottom: 124px;

	h2 {
		margin-bottom: 14px;
	}

	.overhead {
		margin-top: 10px;
		margin-bottom: 9px;
	}
}
.guru__info h3 {
	line-height: 4.0rem;
	margin-bottom: 15px;
}

.guru__wrap .row {
	margin-bottom: 40px;
}

.guru__subtitle {
	width: 97%;
	font-size: 2.2rem;
}

.guru__overlay {
	background: #FFFFFF;
	border: 2px solid rgba(207, 210, 237, 0.25);
	box-sizing: border-box;
	border-radius: 20px;
	padding: 49px 20px 60px;
	width: 544px;
	height: 288px;
	display: flex;
	justify-content: space-between;

	img {
		margin-right: 50px;
	}
}

.guru__img1 {
	width: 108px;
	height: 190px;
}

.guru__img2 {
	width: 135px;
	height: 175px;
}

.guru__img3 {
	width: 110px;
	height: 180px;
}
// SECTION ANSWERS

.answers {
	padding-top: 163px;
	padding-bottom: 107px;

	h2 {
		margin-bottom: 8px;
	}
}
.answers__wrap {
	margin-left: 110px;
}
.answers__list {
	margin-top: 15px;
}

.answers__transparent {
	opacity: 0.2;
}

.answers__block {
	margin-top: -15px;
	margin-left: -20px;
}

.answers__overlay {
	position: relative;
	background: #FCFCFC;
	border: 2px solid rgba(219, 229, 239, 0.1);
	box-sizing: border-box;
	border-radius: 20px;
	padding: 41px 40px 71px;
}

.answers__shadow1 {
	position: absolute;
	left: -39px;
	top: -54px;
	border-radius: 20px;
	background: #FFFAED;
	width: 336px;
	height: 135px;
}

.answers__shadow2 {
    position: absolute;
    left: 22px;
    top: 24px;
    border-radius: 20px 0 0;
	background: rgba(255,174,61,.111);
    opacity: .5;
    width: 314px;
    height: 111px;
}

.answers__shadow3 {
	position: absolute;
	right: -40px;
	bottom: -50px;
	border-radius: 20px;
	background: #FFF3ED;
	width: 148px;
	height: 292px;
}

.answers__shadow4 {
	position: absolute;
	right: 41px;
	bottom: 29px;
	border-radius: 0 0 20px;
	background: rgba(255, 119, 0, 0.1);
	opacity: 0.56;
	width: 107px;
	height: 263px;
}

// SECTION PRACTIC

.practic {
	padding-top: 78px;
	padding-bottom: 140px;

	h2 {
		margin-bottom: 50px;
		text-align: center;

	}
}

.practic__wrap .overhead {
	text-align: center;
}

.practic__item1 {
	background: #F6EAFF;
}

.practic__item2 {
	background: #F2F3FF;
}

.practic__item3 {
	background: #EDFCF9;
}

.practic__item {
	border-radius: 20px;
	padding: 40px 32px;

	h3 {
		margin-bottom: 158px;
	}
}

.practic__overlay {
	 text-align: center;
	 margin-top: 68px;


}

// FOOTER
.footer {
	padding-top: 57px;
	padding-bottom: 50px;
	background: #F5F6FF;

	img {
		width: 129px;
		height: 48px;
	}
}

.footer__main {

	border-bottom: 2px solid rgba(124, 158, 210, 0.2);
	margin-bottom: 30px;
	display: flex;
	flex-direction: wrap;
	justify-content: space-between;

}

.footer__text {
	margin-top: 26px;
	margin-bottom: 16px;
}

.footer__left {
	max-width: 416px;

	p:last-child {
		margin-bottom: 47px;
	}
}

.footer__centr, .footer__right {
	margin-top: -17px;
}
.footer__right__text {
	margin-bottom: 10px;
}


.footer__right {
	max-width: 473px;

	h4 {
		text-transform: uppercase;
		margin-bottom: 17px;
	}
}

.footer__subtitle {
	text-transform: uppercase;
	margin-bottom: 17px;
}

.footer__wrap {
	ul {
		display: flex;
		padding-left: 0;
		margin-bottom: 22px;

		li {
			list-style-type: none;

			a {
				text-transform: none;
			}
		}
	}
}

.footer__nav {
	display: flex;
	flex-direction: column;
	margin-left: -15px;
	opacity: 0.8;

	 li {
		 margin-bottom: 17px;

		 a {
			 color: #5D6687;
		 }
	 }
}

.footer__email {
	text-transform: none;
	line-height: 24px;
	text-decoration-line: underline;
	font-weight: bold;
	margin-left: 8px;
	color: #5D6687;
}

 .footer__social {
	 margin-right: 10px;
 }

.fab {
	background-color: #ACC0E6;
	width: 40px;
	height: 40px;
	padding: 12px 10px;
	border-radius: 50%;
	color: #fff;
	align-items: center;
	text-align: center;
	font-size: 20px;
}

.fa-facebook-f:hover {
	background: #3B5998;

	&:active {
		background: #345395;
	}
}

.fa-twitter:hover {
	background: #1DA1F2;

	&:active {
		background: #149AED;
	}
}

.fa-pinterest-p:hover {
	background: #BD081C;

	&:active {
		background: #AF0114;
	}
}

form {
	margin-top: 12px;
	margin-bottom: 12px;
}

.footer__input {
	background: #fff;
	border-radius: 10px;
	opacity: 0.9;
	color: #303030;
	opacity: 0.4;
	padding: 11px 0 11px 24px;
	width: 250px;
	margin-right: 16px;
}

 .footer__phone {
	color: #5D6687;
 }

.footer__language   {
	justify-content: space-between;
	display: flex;
	margin-left: 60px;

	li a {
		color: #5D6687
	}
}

.footer__newsletter {
	font-size: 1.4rem;
	margin-bottom: 47px;
}

.footer__adaptiv {
	display: flex;
	justify-content: space-around;
}

.footer__centr {
	margin-left: 60px;
}

.footer__newsletter span {
	border-bottom: 1px solid #5D6687;
	margin-bottom: 0;
}

// POPUP

.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7 {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	// background-color: rgba(99, 99, 99, .8);
	display: none;
}

.overlay1 { 
	height: 115vh;
}

 .overlay2 { 
	height: 115vh;
}

.overlay3 { 
	height: 135vh;
}

.overlay4 { 
	height: 135vh;
}

.overlay5  {
	min-height: 100vh;
    height: 100%;
}

.overlay6  {
	min-height: 100vh;
    height: 100%;
}

.overlay7 {		 
	height: 100vh;
	
	background-color: transparent;
}

.popup1, .popup2, .popup3, .popup4, .popup5, .popup6, .popup7 {
	position: fixed;
	width: 1216px;
	position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
	// left: 50%;
	// top: 50%;
	// transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background-color: #F4F7FB;
	color: #fff;
	z-index: $popup_zIndex;

	display: flex;
	align-items: center;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
	border-radius: 10px;
	justify-content: space-around;
	font-family: $pagesFont, sans-serif;
}

.popup1, .popup2, .popup3, .popup4, .popup6, .popup7 { 
	transform: translate(-50%, 10%);
}



.popup5 {
	transform: translate(-50%,80%);
}

.popup7 {
	position: fixed;
}
.check {
	margin-top: 32px;
}


.popup5, .popup6, .popup7 {
	background-color: #fff;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #C2C3C4;
	position: absolute;
	height: 4px;
	width: 21px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #C2C3C4;
	position: absolute;
	height: 4px;
	width: 21px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

.popup__right {
	margin-top: -33px;
}

.popup__title {
	font-weight: bold;
	font-size: 46px;
	color: $popupTitle;
	margin-bottom: 45px;
	line-height: 1;
}

.popup__name {
	margin-top: 21px;
	margin-bottom: 6px;
	font-size: 0.8em;
	color: #505d68;

	span {
		color: $popupTitle;
	}

	a {
		text-transform: none;
	}
}

.popup__text {
	margin-bottom: 40px;
	color: $popupTitle;
	font-size: 0.8em;
}

.popup__enter {
	width: 545px;
	height: 445px;
	margin-top: 95px;
	margin-bottom: 148px;;
}

.popup__btn{
	width: 384px;
	text-transform: none;
	padding: 11px 35px;
}

.popup__input {
	width: 385px;
}

// POPUP2
.popup2  {
	flex-direction: column;
	padding: 0;

	h2 {
		text-align: center
	}
}

.popup2__overlay {
	margin-top: 70px;

	h2 {
		padding-bottom: 72px;
	}
}
.popup2__title {
	position: relative;
	box-shadow: 0px 4px 8px rgba(23, 87, 202, 0.2);
	border-radius: 10px 10px 0px 0px;
}

.popup2__cloud {
	width: 42px;
	height: 20px;
	position: absolute
}

.popup2__cloud1 {
	top: -20px;
    left: 210px;
}

.popup2__cloud2 {
	top: -20px;
    right: 140px;
}

.popup2__overlay {
	width: 100%;
}

.popup2__block {
	width: 320px;
	text-align: center;
	box-shadow: 0px 4px 8px rgba(23, 87, 202, 0.4);
	border-radius: 10px;

	&:first-child, &:nth-child(2) {
		margin-right: 22px;
	}

	img {
		margin-bottom: 22px;
		width: 288px;
		height: 200px;
	}

}

.popup2__info p {
	margin-bottom: 37px;
}

.popup2__wrap {
	display: flex;
	justify-content: space-around;
	margin-bottom: 48px;
	box-shadow: 0px 4px 8px rgba(23, 87, 202, 0.2);
	margin-top: 64px;
}

.popup2__under {
	text-align: center;
	margin-bottom: 88px;

	a {
		text-transform: none;
	}
}


// POPUP3
.popup3 .popup__left, .popup3 .popup__right {
	width: 40%;
	margin-top: 96px;
	margin-bottom: 118px;
}

.fa-check {
	color: #FFCB24;
	font-size: 20px;
	margin-right: 10px;
}
.popup3__title {
	margin-bottom: 30px;
	color: $popupTitle;
}

.popup3__subtitle {
	margin-bottom: 20px;
}

.popup3__info li {
	color: #505D68;
	list-style-type: none;
	margin-bottom: 12px;
}

.popup3__student {
	width: 372px;
	height: 203px;
	margin-top: 57px;
}


.popup3__politic {
    font-size: .8em;
    margin-top: -3px;
    margin-bottom: 40px;
    margin-left: 10px;

	a {
		text-transform: none;
	}
}

.popup3__check {
	width: 24px;
	height: 24px;
	margin-right: 20px;
}

