$mobile: 575px;
$tablet: 767px;
$desktop: 991px;
$desktop-lg: 1199px;

@media screen and (max-width: $desktop-lg) {
	.student .container-fluid,
	.header .container-fluid {
		width: 100%;
	}
	.header__wrap {
		width: 100%;
	}
	.student__about {
		padding: 5px 13px;

		img {
			width: 17%;
			height: auto;
		}
	}

	.student__content__lecture {
		width: 65%;
	}

	.student__content__inner__title {
		line-height: 25px;
	}

	.student__content__inner__subtitle {
		line-height: 23px;
	}

	.student__content__exercise {
		.student__content__inner__title {
			margin-bottom: 10px;
		}

		.student__content__button {
			// width: 83%;
		}
	}

	.student__content__lecture img {
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}

	.student-start-lecture-modal__title {
		width: 85%;
		font-size: 37px;
		line-height: 46px;
	}
	.student-start-lecture-modal__points .student__content__button {
		margin-bottom: 121px;
	}
	.student__content__passed__wrap {
		width: 56%;
	}
	.student__coupons__buy__item{
		height: 410px;
	}
	$paddingHorizMessage: 54px;
	$paddingVertMessage: 16px;
	.student__content__messages__title, .student__content__messages__subtitle{
		padding-left: $paddingHorizMessage;
		padding-right: $paddingHorizMessage;
	}
	.student .open-message{
		top: $paddingVertMessage;
		right: $paddingHorizMessage;
	}
	$paddingVertSettings: 57px;
	$paddingHorizSettings: 54px;
	.student__content__settings_wrap{
		padding: $paddingVertSettings $paddingHorizSettings;
	}
	.settings-input-save{ 
		button, p{
			font-size: 14px;
		}
	}
}

@media screen and (max-width: $desktop) {
	.student .container-fluid,
	.header .container-fluid {
		width: 100%;
	}
	.header__list {
		margin-left: 20px;
	}
	.header__list li {
		font-size: 1.3rem;
		margin-right: 19px;
	}
	.student__content__exercise img {
		width: 89%;
		height: auto;
		margin: 0 auto;
	}

	.student__menu__item {
		padding: 15px 5px;
	}

	.student__menu__item_active {
		padding: 15px 17px;
	}

	.student__menu__item__svg {
		width: 33px;
	}

	.student__about img {
		width: 23%;
		height: auto;
	}

	.student-start-lecture-modal__title {
		line-height: 36px;
		font-size: 28px;
		margin-top: 58px;
		width: 90%;
	}

	.student-start-lecture-modal__points .student__content__button {
		margin-top: 40px;
		margin-bottom: 65px;
	}

	.student-start-lecture-modal__points__item.active p {
		line-height: 23px;
	}

	.student__content .student__results__wrap{
		padding: 57px 37px;
		.student__content__passed__wrap{
			width: 54%;
		}
	}

	.student__results__table__item__content span {
		font-size: 24px;
	}
	.student__coupons__info {
		padding: 34px 6% 80px 6%;
	}
	.student__coupons__info__filter__item {
		padding: 3px 8px;
		margin-right: 10px;
	}
	.student__coupons__buy__item{
		height: 430px;
	}
	.student__coupons__buy__item {
		padding: 32px 18px;
	}
	.student__coupons__buy__item__term {
		font-size: 28px;
		line-height: 31px;
	}
	.student__coupons__buy__item__about {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 22px;
	}
	.student__coupons__item__hash{
		font-size: 19px;
	}
	$paddingHorizMessage: 39px;
	$paddingVertMessage: 16px;
	.student__content__messages__title, .student__content__messages__subtitle{
		padding-left: $paddingHorizMessage;
		padding-right: $paddingHorizMessage;
	}
	.student  .open-message{
		top: $paddingVertMessage;
		right: $paddingHorizMessage;
	}
	.student__content__inner__title {
		font-size: 16px;
	}
	.student__content__inner__subtitle_small:last-of-type{
		padding-right: 15px;
	}
	.student__content__messages__read .student__content__inner__subtitle{
		font-size: 15px;
	}
	.student__content__settings__info__photo{
		img {
			width: 100px;
		}
		.student__content__button{
			width: 100%;
		}
	}
	.settings-input-save{ 
		button, p{
			font-size: 12px;
		}
	}
}

@media screen and (max-width: $tablet) {
	.header__logo{
		width: 70px;
		height: auto;
	}
	.header__list li {
		font-size: 1.3rem;
	}
	.header__user p{
		display: none;
	}
	.student__wrap {
		padding: 14px 0;
	}

	.student__about {
		margin-bottom: 15px;
		flex-direction: column;

		img {
			width: 35%;
			height: auto;
			margin-right: 0;
		}

		text-align: center;
	}

	.student__content__title {
		font-size: 25px;
	}

	.student__menu__item__svg {
		width: 26px;

		svg {
			width: 14px;
			height: 14px;
		}
	}

	.student__menu__item {
		padding: 15px 8px;
	}

	.student__menu__item_active {
		padding: 15px 5px;
	}

	.student__menu__item a {
		font-size: 12px;
		line-height: normal;
	}

	.student__content__exercise {
		.student__content__inner__title {
			font-size: 15px;
			line-height: 17px;
			margin-bottom: 30px;
			margin-top: 33px;
		}

		.student__content__inner__subtitle {
			font-size: 12px;
			line-height: 16px;
			width: 83%;
			margin-bottom: 22px;
		}

		.student__content__button {
			width: 90%;
		}
	}

	.student__content__button {
		font-size: 13px;
		height: auto;
		text-align: center;
		padding: 9px 0;
	}

	.student__content__wrap {
		height: 423px;
	}

	.student__about__name {
		font-size: 15px;
		line-height: 18px;
	}

	.student__content__lecture img {
		width: 90%;
		height: auto;
	}
	.student-start-lecture-modal {
		width: 85%;
		padding-bottom: 60px;
	}
	.student-start-lecture-modal__image svg{
		width: 50%;
		height: auto;
	}
	.student-start-lecture-modal__title {
		margin: 0 auto;
		margin-top: 40px;
		text-align: center;
	}
	.student-start-lecture-modal__points {
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		.student__content__button {
			margin-top: 40px;
			margin-bottom: 50px;
		}
	}
	.student__results__title .student__content__inner__title {
		margin-right: 16px;
		font-size: 18px;
	}
	.student__results__title.flex-column{
		flex-direction: column;
		align-items: flex-start;
		.student__content__passed__wrap{
			width: 100%;
			margin-top: 16px;
		}
	}
	.student__results__table__item__title {
		font-size: 12px;
	}
	.student__content .student__results__wrap {
		padding: 50px 26px;
	}
	.student__results__table__item__content img {
		width: 100%;
		height: auto;
	}
	.student__coupons__info__filter{
		flex-wrap: wrap;
	}
	.student__coupons__info__filter__item{
		margin-bottom: 10px;
	}
	.student__coupons__info__filter {
		padding-bottom: 14px;
	}
	.student__coupons__item{
		padding-top: 24px;
		flex-direction: column;
	}
	.student__coupons__item__hash {
		font-size: 19px;
		width: 72%;
		margin: 0 auto;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.student__coupons__item__info {
		width: 100%;
	}
	.student__coupons__info {
		padding: 34px 5% 80px 5%;
	}
	.student__coupons__add__item__hash {
		width: 60%;
		margin-right: 0;
		font-size: 23px;
		padding: 0;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.student__coupons__add__item
	.student__content__button {
		// width: 37%;
		height: 45px;
	}
	.student__coupons__buy__wrap{
		flex-direction: column;
	}
	.student__coupons__buy__item{
		width: 76%;
		height: 351px;
		margin-bottom: 25px;
	}
	.student__coupons__buy__item__svg {
		margin-bottom: 10px;
	}
	.student__coupons__state__title {
		width: 80%;
		font-size: 29px;
	}
	.student__coupons__state__subtitle{
		width: 80%;
	}
	$paddingHorizMessage: 22px;
	$paddingVertMessage: 16px;
	.student__content__messages__title, .student__content__messages__subtitle, .student__content__messages__read{
		padding-left: $paddingHorizMessage;
		padding-right: $paddingHorizMessage;
	}
	.student .open-message{
		top: $paddingVertMessage;
		right: $paddingHorizMessage;
	}
	.student__content__messages__zip{
		width: 40%;
	}
	.student__content__messages__title, .student__content__messages__subtitle {

		.student__content__messages__zip .student__content__inner__title,
		.student__content__messages__zip .student__content__inner__subtitle_small{
			&:first-child{
				width: 39%;
			}
			&:nth-child(2){
				width: 61%;
			}
		}
		.student__content__inner__title, .student__content__inner__subtitle_small{
			&:last-child{
				width: 50%;
			}
		}
		.student__content__inner__title {
			font-size: 13px;
		}
	}
	$paddingVertSettings: 37px;
	$paddingHorizSettings: 20px;
	.student__content__settings_wrap{
		padding: $paddingVertSettings $paddingHorizSettings;
	}
	.student__content__settings__info:last-child {
		width: 48%;
	}
	.header__buttons {
		.header__user{
			img{
				margin-right: 0;
			}
		}
	}

	.student__content__lecture {
		height: 423px;
	}
	.settings-input-save{ 
		flex-direction: column;
		.student__content__button, p{
			width: 100%;
		}
	}
}

@media screen and (max-width: $mobile) {
	.student__wrap {
		display: none;
		position: absolute;
		z-index: 10;
		width: 180px;
		top: -40px;
	}

	.student__content__wrap {
		height: auto;
	}


	.student__content__wrap {
		flex-direction: column;
	}

	.student__content__lecture {
		width: 100%;
		margin-right: 0;
		margin-bottom: 50px;
		padding-bottom: 40px;

	}

	.student__content__exercise {
		width: 100%;
		height: 413px;
		margin-bottom: 50px;

		img {
			width: auto;
			height: auto;
		}

		.student__content__button {
			width: 216px;
		}
	}
	.student__content__title{
		text-align: center;
	}
	.student__overlay{
		position: relative;
	}
	.student-hamburger-menu {
		position: absolute;
		z-index: 10;
	}
	.student__wrap{
		z-index: 11;
	}
	.student__content .student__results__wrap {
		padding: 0;
	}
	.student__results__table__item__content span {
		font-size: 20px;
	}
	.student__results {
		margin-bottom: 25px;
	}
	.student__results__table__item__title {
		font-size: 11px;
	}
	.student__coupons__state__title {
		width: 82%;
		font-size: 23px;
		line-height: 25px;
	}
	.student__coupons__inner__title {
		font-size: 16px;
	}
	.student__coupons__add__item__hash {
		width: 54%;
		font-size: 17px;
	}
	.student__coupons__add__item .student__content__button {
		// width: 52%;
		margin-bottom: 0;
	}
	.student__coupons__add__item__hash {
		width: 45%;
	}
	.student__content__messages__zip{
		flex-direction: column;
		.student__content__inner__title,
		.student__content__inner__subtitle_small{
			padding: 0;
		}
	}
	$paddingHorizMessage: 16px;
	$paddingVertMessage: 16px;
	.student__content__messages__title, .student__content__messages__subtitle, .student__content__messages__read{
		padding-left: $paddingHorizMessage;
		padding-right: $paddingHorizMessage;
	}
	.student .open-message{
		top: $paddingVertMessage;
		right: $paddingHorizMessage;
	}
	.student__content__settings{
		flex-direction: column;
	}
	.student__content__settings__info:last-child, .student__content__settings__info:first-child {
		width: 100%;
	}
	.student__content__settings__info__photo__delete {
		margin-bottom: 15px;
	}
	.student__content__settings__delete{
		text-align: center;
	}
	.student__content__settings__info__basic{
		.student__content__inner__title:first-child{
			text-align: center;
		}
	}
	.student__content__settings__info__photo .student__content__button {
		// width: 85%;
	}

	.student__content__exercise .student__content__inner__title {
		margin-top: 0;
	}
	.student__content__exercise {
		padding-top: 0;
		padding-bottom: 0;
	}

	.student__coupons__add__item .student__content__button {
		width: 45%;
	}

}