$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-lg: 1200px;
$desktop-elg: 1300px;
@import "./mixins.scss";


@media screen and (max-width: $desktop-elg) and (min-width: $desktop-lg) {
	.container-fluid {
		width: 90%;
	}

	.header__wrap {
		margin-left: 0;
		width: 100%;
	}

	.main__img {
		width: 1050px;
		height: auto;
	}

	.popup1, .popup2, .popup3, .popup4 {
		width: 95%;
	}
}

/* 992 - 1200 px */
@media screen and (max-width: $desktop-lg) {

	.container-fluid {
		width: 90%;
	}

	.header__list {
		margin-right: 60px;
	}

	.header__wrap {
		margin-left: 0;
		width: 100%;
	}

	.main__shadow1 {
		left: 10px;
		top: -58px;
		width: 250px;
		height: 326px;
	}

	.main__shadow2 {
		left: 60px;
		top: 43px;
		width: 190px;
		height: 283px;
	}

	.main__shadow3 {
		left: 33%;
		top: -30px;
		width: 274px;
		height: 40px;
	}

	.main__shadow4 {
		left: 0;
		top: 17px;
		width: 274px;
		height: 40px;
	}

	.main__shadow5 {
		right: 36px;
		top: -45px;
		width: 258px;
		height: 250px;
	}

	.main__shadow6 {
		right: 30px;
		top: 33px;
		width: 229px;
		height: 217px;
	}

	.main__shadow7 {
		left: 46px;
		bottom: -75px;
		width: 178px;
		height: 276px;
	}

	.main__shadow8 {
		left: 24px;
		bottom: 56px;
		width: 154px;
		height: 220px;
	}

	.main__shadow9 {
		right: 38%;
		bottom: -53px;
		width: 294px;
		height: 112px;
	}

	.main__shadow10 {
		right: 0;
		bottom: 34px;
		width: 294px;
		height: 32px;
	}

	.main__shadow11 {
		right: 23px;
		bottom: -106px;
		width: 286px;
		height: 367px;
	}

	.main__shadow12 {
		right: 43px;
		bottom: 88px;
		width: 243px;
		height: 280px;
	} 
	
	.guru__overlay {
		max-width: 454px;
		padding: 54px 20px 60px;
	}

	.guru__overlay img {
		margin-right: 20px;
	}

	.answers__wrap {
		margin-left: 0;
	}

	.footer__main {
		flex-direction: column;
	}

	.footer__centr {
		margin-top: 25px;
	}

	.footer__right {
		max-width: 561px;
		margin: 0 auto;
	}

	.footer__language {
		margin-left: 100px;
	}

	.popup__enter {
		width: 450px;
		height: auto;
		margin-top: 65px;
    	margin-bottom: 108px;
	}

	.popup2__block img {
		margin-bottom: 22px;
		width: 148px;
		height: auto;
	}

	.popup2__block {
		width: 280px;
	}

	.popup2__wrap {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.popup2__overlay h2 {
		padding-bottom: 42px;
	}
	.popup2__under {
		margin-bottom: 38px;
	}

	.header__list li {
		margin-right: 30px;
	}

	.popup1, .popup2, .popup3, .popup4 {
		width: 95%;
	}

}

/* 768 - 992 px */
@media screen and (max-width: $desktop) {
	html {
		font-size: 50%;
	}

	.header__list {
		margin-right: 0;
	}

	.container-fluid {
		width: 90%;
	}

	.header__logo {
		width: 74px;
		height: auto;
		margin-right: 10px;
	}

	.header__list {
		margin-right: 15px;
	}

	.header__nav {
		padding-top: 22px;
		padding-bottom: 22px;
	}

	

	#header {
		height: 88px;
	}

	.main__img {
		width: 670px;
		height: auto;
		margin-top: 67px;
		margin-bottom: 0px;
	}

	.main {
		margin-bottom: 140px;
	}

	.main__shadow1 {
		left: 10px;
		top: -58px;
		width: 200px;
		height: 315px;
	}

	.main__shadow2 {
		left: 36px;
		top: 43px;
		width: 164px;
		height: 272px;
	}

	.main__shadow3 {
		left: 36%;
		top: -30px;
		width: 184px;
		height: 40px;
	}

	.main__shadow4 {
		left: 0;
		top: 17px;
		width: 184px;
		height: 40px;
	}

	.main__shadow5 {
		right: 36px;
		top: -41px;
		width: 198px;
		height: 250px;
	}

	.main__shadow6 {
		right: 13px;
		top: 27px;
		width: 186px;
		height: 224px;
	}

	.main__shadow7 {
		left: 28px;
		bottom: -60px;
		width: 178px;
		height: 276px;
	}

	.main__shadow8 {
		left: 19px;
		bottom: 47px;
		width: 160px;
		height: 228px;
	}

	.main__shadow9 {
		right: 42%;
		bottom: -41px;
		width: 164px;
		height: 112px;
	}

	.main__shadow10 {
		right: 0;
		bottom: 28px;
		width: 164px;
		height: 32px;
	}

	.main__shadow11 {
		right: 23px;
		bottom: -75px;
		width: 236px;
		height: 367px;
	}

	.main__shadow12 {
		right: 25px;
		bottom: 59px;
		width: 211px;
		height: 308px;
	}

	.guru__overlay {
		width: 330px;
		height: 210px;
		padding: 24px 20px 20px;
	}

	.guru__img1 {
		width: 70px;
		height: 130px;
	}

	.guru__img2 {
		width: 90px;
		height: 130px;
	}

	.guru__img3 {
		width: 70px;
		height: 110px;
	}

	.answers__list {
		margin-bottom: 100px;
	}

	.answers__shadow1 {
		width: 216px;
	}

	.answers__shadow2 {
		width: 194px;
	}

	.answers__shadow3 {
		right: -24px;
		bottom: 30px;
		width: 148px;
		height: 201px;
	}

	.answers__shadow4 {
		right: 24px;
		bottom: 23px;
		width: 124px;
		height: 179px;
	}

	.practic__item h3 {
		margin-bottom: 88px;
	}


	.footer__language {
		margin-left: 30px;
	}

	.main,  .guru, .answers, .practic, .footer {
		padding-top: 5rem;
		padding-bottom: 4rem;
	}
	.steps {
		padding-top: 7rem;
		padding-bottom: 11rem;
	}

	.popup__input {
		width: 275px;
	}
	
	.popup__btn {
		width: 274px;
	}
	
	.popup__enter {
		width: 270px;
		height: auto;
	}	

	.popup2__block {
		width: 210px;
	}

	.popup3__student {
		width: 292px;
		height: auto;
	}

	.popup3 .popup__left, .popup3 .popup__right {
		margin-top: 26px;
		margin-bottom: 38px;
	}


	.popup__left h2 {
		font-size: 3.2rem;
	}

	.popup3__student {
		width: 232px;
	}	

	.overlay5  {
		height: 130vh;
	}
}

/* 576 - 768 px */
@media screen and (max-width: $tablet) {
	// html {
	// 	font-size: 35%;
	// }

	.container-fluid {
		width: 90%;
	}

	// #header {
	// 	width: 540px;
	// 	height: 80px;
	// }

	.header__logo {
		width: 66px;
	}

	.header__buttons .btn__secondary {
		margin-right: 10px;
	}

	.header__list {
		margin-left: 0;
	
		li {
			margin-right: 10px;
		}
	}
	

	#header__wrap {
		margin-left: -15px;
		// width: 540px;
		// height: 74px;
	}

	.header__list li {
		letter-spacing: 0;
	}


	.btn__small {
		width: 90px;
		 
	}

	.header__buttons {
		margin-left: -30px;
	}

	.main {
		margin-bottom: 60px;
	}

	.main__img {
		width: 500px;
		height: auto;
	}

	.main__block {
		margin-top: 120px;
	}

	.main__overlay {
		width: 90%;
	}

	.main_img {
		height: 362px;
	}

	.main__shadow1 {
		left: -19px;
		top: -47px;
		width: 180px;
		height: 285px;
	}

	.main__shadow2 {
		left: 30px;
		top: 34px;
		width: 150px;
		height: 251px;
	}

	.main__shadow3 {
		left: 39%;
		top: -30px;
		width: 134px;
		height: 52px;
	}

	.main__shadow4 {
		left: 0;
		top: 17px;
		width: 134px;
		height: 40px;
	}

	.main__shadow5 {
		right: -2px;
		top: -41px;
		width: 158px;
		height: 250px;
	}

	.main__shadow6 {
		right: 13px;
		top: 27px;
		width: 146px;
		height: 224px;
	}

	.main__shadow7 {
		left: -2px;
		bottom: -43px;
		width: 158px;
		height: 176px;
	}

	.main__shadow8 {
		left: 13px;
		bottom: 27px;
		width: 145px;
		height: 148px;
	}

	.main__shadow9 {
		right: 38%;
		bottom: -29px;
		width: 129px;
		height: 112px;
	}

	.main__shadow10 {
		right: 0;
		bottom: 16px;
		width: 129px;
		height: 32px;
	}

	.main__shadow11 {
		right: -24px;
		bottom: -56px;
		width: 197px;
		height: 219px;
	}

	.main__shadow12 {
		right: 35px;
		bottom: 41px;
		width: 162px;
		height: 178px;
	}

	.steps__overlay {
		margin-left: 0;
	}

	.guru__overlay {
		width: 250px;
		height: 240px;
		padding: 24px 10px 20px;
		margin: 0 auto;

		img {
			margin-right: 0;
		}
	}

 
	.steps__info {
		margin-bottom: 10rem;
	}

	.practic__item {
		padding: 30px 22px;

		h3 {
			font-size: 2rem;
		}
	}

	.practic__item h3 {
		margin-bottom: 58px;
	}

	.steps__shadow1 {
		position: absolute;
		right: -13px;
		bottom: -23px;
		width: 242px;
		height: 133px;
		background: #eef2ff;
		border-radius: 20px;
	}

	.steps__shadow2 {
		position: absolute;
		border-radius: 0 0 20px;
		background: rgba(166,191,255,.4);
		opacity: .3;
		width: 225px;
		height: 115px;
		right: 16px;
		bottom: 16px;
	}

	.steps__quotes {
		width: 51px;
		height: 32px;
		top: -19px;
		left: 37px;
	}

	.answers__shadow1 {
		left: -28px;
		top: -34px;
		width: 186px;
		height: 77px;
	}

	.answers__shadow2 {
		left: 14px;
		top: 11px;
		width: 170px;
		height: 65px;
	}

	.answers__shadow3 {
		right: -10px;
		bottom: 113px;
		width: 120px;
		height: 138px;
	}

	.answers__shadow4 {
		right: 15px;
		bottom: 15px;
		width: 104px;
		height: 121px;
	}

	.answers {
		padding-bottom: 0;
	}

	 .practic {
		padding-top: 0;
		padding-bottom: 7em;
	}

	.answers__overlay {
		padding: 16px 40px 31px;
	}

	.footer__nav {
		margin-left: -55px;
	}

	.popup {
		width: 100%;
		height: 100vh;
		font-size: 15px;
	}

	.popup__enter {
		width: 190px;
		height: auto;
	}

	.popup__input, .popup__btn {
		width: 275px;
	}

	.popup__right {
		margin-left: 30px;
	}

	.popup__right {
		margin-top: 0;
	}

	.popup2__info p {
		margin-bottom: 0;
	}

	.popup2__block {
		width: 160px;
	}

	.popup2__block img {
		width: 118px;
		height: auto;
	}

	.popup2__cloud1 {
		top: -30px;
		left: 50px;
	}

	.popup2__cloud2 {
		top: -30px;
		right: 50px;
	}

	.popup1, .popup2, .popup3, .popup4 {
		padding: 20px
	}

	.popup__btn, .popup__input {
		width: 205px;
	}
	.popup__title {
		font-size: 4rem;
		margin-bottom: 25px;
	}

	.popup2__title h2 {
		font-size: 2.8rem;
		padding-top: 15px;
		padding-bottom: 20px;
	}

	.popup2__overlay {
		margin-top: 50px;
	}

	.overlay1 { 
		height: 100vh;
	}

 	.overlay2 { 
		height: 100vh;
	}

	.overlay3 { 
		height: 130vh;
	}

	.overlay4 { 
		height: 150vh;
	}
	.overlay5  {
		height: 100vh;
	}

	.overlay6  {
		height: 200vh;
	}

	.overlay7 {		 
		height: 100vh;
	}

	.popup6 {
		transform: translate(-50%,60%);
	}

}

/* 320 - 576 px */
@media screen and (max-width: $mobile) {

	.container-fluid {
		width: 90%;
	}

	#header {
		height: 168px;
	}

	.header__nav {
		flex-direction: column
	}

	.header__logo, .header__list {
		margin-bottom: 20px;
	}

	.header__buttons {
		margin-top: 0;
		margin-left: 0;
		justify-content: center;
	}

	.header__logo {
		width: 74px;
		height: auto;
	}

	.header__nav {
		padding-top: 22px;
		padding-bottom: 22px;
	}

	.header__list {
		margin-right: 0;
		margin-left: 0;	
	}
	
	li {
		letter-spacing: 0.01em;
		font-size: 1.3rem;

		&:last-child {
			margin-right: 0;
		}
	}

	#header__wrap {
		margin-left: 0;
	}

	h1 {
		line-height: 4.7rem;
	}


	.main__img {
		width: 250px;
		height: auto;
	}

	.main__overlay {
		width: 98%;
		border-radius: 15px;
	 }
	 
	 .main__vectors {
		border-radius: 15px 15px 0 0;
	}

	.main_img {
		height: 172px;
	}

	.main__shadow1 {
		left: -19px;
		top: -18px;
		width: 90px;
		height: 103px;
		border-radius: 15px;
	}

	.main__shadow2 {
		left: 15px;
		top: 12px;
		width: 75px;
		height: 90px;
		border-radius: 15px 0 0;
	}

	.main__shadow3 {
		left: 37%;
		top: -14px;
		width: 84px;
		height: 52px;
		border-radius: 15px;
	}

	.main__shadow4 {
		left: 0;
		top: 8px;
		width: 84px;
		height: 40px;
		border-radius: 5px;
	}

	.main__shadow5 {
		right: -14px;
		top: -23px;
		width: 68px;
		height: 126px;
		border-radius: 15px;
	}

	.main__shadow6 {
		right: 10px;
		top: 16px;
		width: 58px;
		height: 110px;
		border-radius: 0 15px;
	}

	.main__shadow7 {
		left: -15px;
		bottom: -33px;
		width: 88px;
		height: 136px;
		border-radius: 15px ;
	}

	.main__shadow8 {
		left: 9px;
		bottom: 24px;
		width: 79px;
		height: 112px;
		border-radius: 0 0 0 15px ;
	}

	.main__shadow9 {
		right: 31%;
		bottom: -22px;
		width: 89px;
		height: 112px;
	}

	.main__shadow10 {
		right: 0;
		bottom: 13px;
		width: 89px;
		height: 32px;
	}

	.main__shadow11 {
		right: -24px;
		bottom: -41px;
		width: 87px;
		height: 131px;
	}

	.main__shadow12 {
		right: 18px;
		bottom: 31px;
		width: 69px;
		height: 100px;
	}

	.steps__shadow1 {
		right: -14px;
		bottom: -19px;
		width: 144px;
		height: 111px;
	}

	.steps__shadow2 {
		width: 127px;
		height: 97px;
		right: 18px;
		bottom: 14px;
	}

	.steps__text {
		padding: 23px 25px 37px;
	}

	.steps__quotes {
		width: 41px;
		height: 30px;
		top: -17px;
		left: 29px;
	}

	h3 {
		font-size: 2.4rem;
	}

	.guru__subtitle {
		margin-bottom: 5rem;
	}

	.guru__overlay {
		margin-bottom: 5rem;
		height: 220px;
	}

	.guru__wrap .row {
		margin-bottom: 0;
	}

	.main, .steps, .guru, .answers, .practic, .footer {
		padding-top: 4rem;
		padding-bottom: 5rem;
	}

	.practic__overlay {
		margin-top: 20px;
	}

	.steps__info {
		margin-bottom: 10rem;
	}

	.answers__shadow1 {
		width: 146px;
	}

	.answers__shadow2 {
		width: 131px;
	}

	.answers__shadow3 {
		bottom: -28px;
	}

	.practic__wrap .row .col-10 {
		margin-bottom: 5rem;
	}

	.footer__adaptiv {
		flex-direction: column;
	}

	.footer__nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.footer__left p:last-child {
		margin-bottom: 0;
	}

	.footer__input {
		margin-bottom: 3rem;
	}

	form {
		text-align: center;
	}

	.footer__language {
		margin-top: 3rem;

		li {
			margin-right: 7px;
		}
	}

	

	.popup1 {
		flex-direction: column;

	}

	.popup__enter {
		width: 260px;
		height: auto;
		margin-top: 0;
		margin-bottom: 50px;
	}

	.popup__title {
		text-align: center;
	}

	.popup__right {
		margin-left: 0;
	}

	.popup__btn, .popup__input {
		width: 225px;
	}

	.popup2__wrap { 
		box-shadow: none;
		flex-direction: column;
	}

	.popup2__block {
		width: 210px;
		margin-bottom: 40px;
	}

	.popup2__info p {
		margin-bottom: 30px;
	}

	.popup2__block:first-child, .popup2__block:nth-child(2) {
		margin-right: 0;
	}

	.popup3 .popup__left, .popup3 .popup__right {
		width: 90%;
	}

	.popup5, .popup7 {
		width: 90%;
		padding: 36px 30px;	 
		text-align: center;
	}

	.popup__buttons .btn__big {
		margin-right: 0;
		margin-bottom: 30px;		
	}

	.add-student, .create-account {
		width: 90%;
	}

	.parent-main .student__content__info .settings-input {
		width: 100%;
	}

	.student__content__flex {
		flex-direction: column;
	}

	.parent-main .student__content__info:first-child {
		margin-right: 0;
	}

	.parent-main .overlay6 .student__content__inner__title {
		width: 45%;
	}
	.parent-main .overlay6 .student__content__inner__title:first-child {
		margin-right: 20px;
	}

	.student__content__settings__info__basic .popup__buttons {
		text-align: center;
		flex-direction: column;
	}

	// .overlay1 { 
	// 	height: 126vh;
	// }

 	// .overlay2 { 
	// 	height: 202vh;
	// }

	// .overlay3 { 
	// 	height: 225vh;
	// }

	// .overlay4 { 
	// 	height: 207vh;
	// }

	// .overlay6  {
	// 	height: 322vh;
	// }

	// .overlay7 {		 
	// 	height: 100vh;
	// }

	.parent-main .overlay6 .student__content__inner__title {
		font-size: 17px;
	}

	.student__content__flex .student__content__info {
		width: 100%;
	}

	.popup__buttons .btn__little  {
		margin: 0 auto;
	}

	.student__content__settings__info__basic .popup__buttons .btn__big {
		width: 100%;
	}
		

	.popup7 .popup__buttons {
		flex-direction: column;
	}

	.popup7 {
		bottom: 0%;
		transform: translate(-50%,370%);
	}
	 

	.popup5 {
		transform: translate(-50%,140%);
	}

}