$mobile: 576px;
$tablet: 768px;
$desktop: 992px;
$desktop-lg: 1200px;
$desktop-elg: 1300px;
@import "./mixins.scss";


input {
	margin: 0;
}
@media screen and (max-width: $desktop-elg) and (min-width: $desktop-lg) {
	.parent-results .student__content__inner__title {
		margin-right: 10px;
	}

	.parent-results .student__results__head {
		padding: 23px 0 20px 20px;
	}
}

@media screen and (max-width: $desktop-lg) {
	.container-fluid {
		width: 95%;
	}
	
	.student__results__table__item__title {
		height: 100px;
	}

	.parent-results .student__results__wrap {
		padding: 57px 20px;
	}	

	.student__block__svg img {
		width: 80%;
		height: auto;
	}
}

// max-width 992px
@media screen and (max-width: $desktop) {
	.student__about {
		padding: 3px;
	}

	.student__menu__item__svg {
		width: 35px;
	}

	.student__notactive__block button {
		margin-top: 10px;
	}

	.student__content__wrap {
		// flex-direction: column;
		// height: auto;
		// flex-wrap: wrap;
		justify-content: space-between;
	}	

	.student__content__exercise {
		width: 45%;
		margin: 0 auto;
		margin-bottom: 30px;
		
	}

	.student__results__head {
		flex-wrap: wrap;
		justify-content: center;
	}

	.student__content__button { 
		width: 142px;
	} 

	.parent-results .student__content__inner__title {
		width: 100%;
	}
	.parent-results .student__results__wrap {
		padding: 15px;
	}
	.parent-results .student__content__inner__title {
		margin-bottom: 20px;
	}

	.student__overlay {
		margin-right: 0;
	}
	



}

// max-width 768px
@media screen and (max-width: $tablet) {
	body {
		font-size: 52.5%;
	}

	.student__about {
		flex-direction: column;
	}
	.student__notactive__wrap {
		padding: 20px 0 20px 20px;
	}

	.student__notactive__pic {
		width: 166px;
		height: auto;
	}

	.student__line {
		flex-direction: column;
		text-align: left;
		margin-bottom: 30px;
	}

	 

	.student__content__exercise {
		width: 90%;
	}

	.student__overlay {
		margin-right: 15px;
	}
	// PAGE RESULT

	.student__results__table__item__title {
		padding: 5px 2px;
		height: 85px;
	}
 

	.left-radius p {
		padding: 12px 0 0 12px;
	}

	.parent__results__table__item__content {
		padding: 11px 3px;
	}
	.parent__results__table__item__content img {
		margin-right: 3px;
	}
	.student__img {
		margin-right: 3px;
	}

	// .student__content__button {
	// 	margin-bottom: 30px;
	// }

	#header {
		padding: 0 10px;
	}

	.parent__content__wrap {
		display: -webkit-flex;
		flex-wrap: wrap;
	}
	.parent__block {
		width: 213px;
	}
	
}
// max-width 576px
@media screen and (max-width: $mobile) {
	.student__notactive__wrap {
		flex-direction: column;
	}
// PAGE RESULTS

	body {
		font-size: 42.5%;
	}
	.student__overlay {
		margin-right: 0;
	}

	.parent-results .student__results__head {
		padding: 10px;
	}

	.parent-results .student__results__head {
		margin-bottom: 30px;
	}
	.student__results__table__item__title {
		height: 135px;
		width: 25%;

		p {
			font-size: 1.2rem;
		}
	}

	.left-radius p {
		padding: 50px 5px;
	}
	
	.parent__results__img, .student__title__img {
		display: flex;
		flex-direction: column;
		width: 40%;
		 
		margin: 0 auto;

		img {
			margin-bottom: 5px;
			width: 24px;
			height: 24px;
		}
	}

	.student__block__svg  img {
		width: 70%;
		margin: 0 auto;
		height: auto;
	}

	// .parent__content__wrap {
	// 	flex-direction: column
	// }

	

	 

}
