$paddingVertMessage: 16px;
$paddingHorizMessage: 104px;
@import "./mixins.scss";

body {
	font-family: $pagesFont;
}

.student__content__messages{
	@include studentCard;
	padding: 41px 0 80px 0;
}

.student__content__messages__zip{
	display: flex;
	width: 40%;
}

.student__content__messages__title, .student__content__messages__subtitle{
	display: flex;
	align-items: center;
	justify-content: flex-start;

	@include borderBottomGrey;
	padding-left: $paddingHorizMessage;
	padding-right: $paddingHorizMessage;
	.student__content__messages__zip .student__content__inner__title,
	.student__content__messages__zip .student__content__inner__subtitle_small{
		&:first-child{
			width: 45%;
		}
		&:nth-child(2){
			width: 55%;
		}
	}

	.student__content__inner__title, .student__content__inner__subtitle_small{
		text-align: left;

		&:last-child{
			width: 60%;
		}
		padding: $paddingVertMessage 0;
	}
	.student__content__inner__message_unread{
		font-weight: bold;

	}

}

.open-message{
	position: absolute;
	&:hover{
		cursor: pointer;
	}
	i{
		margin-left: auto;
		color: $blueText;
	}
}

.student .open-message{
	top: $paddingVertMessage;
	right: $paddingHorizMessage;
}

.student__content__messages__read{
	padding: $paddingVertMessage $paddingHorizMessage;
	@include borderBottomGrey;
}
input[type="checkbox"]{
	visibility: hidden;
	position: absolute;
	top: 0;
	right: 0;
}
.student__content__messages__read__wrap{
	position: relative;
}

input[type="checkbox"]:checked + label{
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}
input[type="checkbox"]:checked + label ~ .student__content__messages__read {
	display: block;
	.student__content__inner__subtitle{
		margin-bottom: 14px;
		&:last-child{
			margin-bottom: 0;
		}
		text-align: left;
	}
}
.student__content__messages__read{
	display: none;
}
.student__content__messages__read_title{
	font-weight: bold;
}
