$mainButtonHeight: 48px;

@mixin greenSpan {
	color: #14B524;
}

@mixin redSpan {
	color: #EC4444;
}

@mixin studentCard {
	font-family: $pagesFont;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(23, 87, 202, 0.2);
	border-radius: 10px;
}

@mixin borderBottomGrey {
	border-bottom: 1px solid #dbdce0;
}

@mixin student__content__inner__title {
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 31px;
	text-align: center;
	color: #505D68;
}

@mixin student__content__inner__subtitle {
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	color: #4D4F66;
	span{
		color: #f0c22d;
	}
}

@mixin student__content__inner__subtitle_small {
	font-family: $pagesFont;
	color: #4D4F66;
	font-size: 14px;
	line-height: 24px;
}

@mixin student__content__title {
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	line-height: 100%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #505D68;
	margin-bottom: 28px;
}

@mixin student__content__button {
	background: #2269E8;
	border-radius: 10px;
	font-family: $pagesFont;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	height: $mainButtonHeight;
	width: 192px;
	border: none;
}

$mainFont: "Istok Web";
$colorText: #2F3C50;
$colorTitle: #507FC7;
$popupTitle: #2269E8;
$pagesFont: "Ubuntu";
$blueText: #2269e8;

@mixin btn {
	border-radius: 10px;
	font-size: 1.4rem;
	letter-spacing: 0.01em;
	font-weight: 700;
	border: none;
}


@mixin blueTitle {
	color: $colorTitle;
	font-weight: bold;
	font-size: 4.0rem;
	line-height: 5.8rem;
}

@mixin greyTitle {
	color: $colorText;
	font-weight: bold;
	font-size: 2.8rem;
	line-height: 4.0rem;
}

@mixin otherText {
	color: $colorText;
	font-weight: normal;
	font-size: 1.7rem;
	line-height: 160%;
}

@mixin overhead {
	font-weight: bold;
	color: #FFC318;
	letter-spacing: 0.06em;
	margin-bottom: 13px;
	text-transform: uppercase;
	font-size: 1.3rem;
	letter-spacing: 0.15rem;
}

@mixin evenly {
	display: flex;
	justify-content: space-evenly;
}