@import "./mixins.scss";


body {
	font-family: $pagesFont;
}

input {
	margin: 0;
}

@mixin account {
	background: #FFCB24;
    border-radius: 10px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .01em;
    color: #34374E;
    height: 48px;
    width: 192px;
}

#content_student {
	background: #E5E5E5;
}
 
.header__user {
	margin-left: 52px;
}

.header__lang_border {
	border-right: 1px solid black;
	padding-right: 14px;
}

.parent-results .student__results__wrap {
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(23, 87, 202, 0.2);
	border-radius: 10px;
	padding: 57px 90px;
}

.student__about {
	background: #fff;
}
.student__about__name {
	font-size: 1.5rem;
}

.student__content__settings__info__photo button {
	background: #2269E8;
	color: #fff;
}

.student__content__exercise{ 
	width: 31%;
}

.student__content__button {
	@include account;
	margin-top: 24px;
	border: none;

	a {
		color: #34374E;
		text-transform: none;
	}
}

.parent__block {
	padding-top: 48px;
	padding-bottom: 48px;
	margin-bottom: 60px;
	background: #fff;
	box-shadow: 0 4px 8px rgba(23,87,202,.2);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	width: 31%;
	display: flex;
	flex-direction:  column;
	align-items: center;
	justify-content: center;
}

.student__block__svg {
	margin-bottom: 29px;
	text-align: center;

	img {
		width: 200px;
		height: 200px;
	}
}

@mixin student__title {
	font-style: normal;
	font-weight: bold;
	font-size: 19px;
	line-height: 28px;
	text-align: center;
	color: #505D68;
}

@mixin student__subtitle {
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	color: #4D4F66;
	span{
		color: #f0c22d;
	}
}

.student__content__inner__subtitle{
	@include student__subtitle;
	margin-bottom: 21px;
}

@mixin student__content {
	font-style: normal;
	font-weight: bold;
	font-size: 31px;
	line-height: 100%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #505D68;
	margin-bottom: 28px;
}
h2 {
	@include student__content
}

.parent__content__wrap {
	display: flex;
	align-items: center;
	justify-content: space-around
}

.student__overlay {
	margin-right: 25px;
}

.student__overlay p {
	margin-bottom: 4px;
}

.student__content__title{
	@include student__content;
	margin-bottom: 28px;	 
}

.student__line {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 33px;
}

.student__notactive {
	margin-bottom: 48px;
}

.student__notactive__title {
	background: #EC4444;
	border-radius: 10px 10px 0px 0px;
	display: flex;
	padding: 13px 17px 5px;
}

.student__notactive__img {
	margin-right: 7px;
}

.student__notactive__head {
	color: #fff;
}

.student__notactive__wrap {
	padding: 23px 0 40px 48px;
	display: flex;
	justify-content: space-around;

	p {
		line-height: 18px;
		font-size: 1.4rem;
	}
}	

.student__notactive__text {
	margin-bottom: 18px;

	p {
		margin-bottom: 7px;
	}
}

 .settings-input {
    color: #4d4f66;
    border: 1px solid #7d7d7d;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 11px 16px;
	width: 100px;	
}

.student__notactive__block {
	.settings-input {
		margin-right: 12px;
	}
	& .btn__middle {
		padding: 14px 35px;
		text-transform: none;
	}
}


.student__notactive__pic {
	width: 226px;
	height: 176px;
	margin-top: -17px;
}

.student__add, .popup5__btn, .popup6__btn {
	text-transform: none;
	padding: 13px 35px;
}

.parent-results .student__results__head {
	background: #F4F7FB;
	border-radius: 10px;
	margin-bottom: 32px;
	padding: 23px 0 20px 40px;
	align-items: baseline;
	text-align: left;
	display: flex;
	margin-bottom: 37px;
}

.parent__results__table__item {
	display: flex;

	& div:first-child {
		text-align: left
	}
}

.student__results__table__item__title{
	padding: 12px 0 0 14px;
	font-size: 1.2rem;
	border-right: 1px solid #fff;
	height: 80px;

	&:last-child{
		border-right: none;
	}
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	width: 100%;
	background: #2269E8;

	p {
		font-size: 1.4rem;
		margin-bottom: 3px;
	}
}

.parent__results__table{
	width: 100%;
}
	
.parent__results__table__item__title {
    padding: 5px 0;
    font-size: 14px;
    border-right: 1px solid #fff;
    line-height: 22px;
    text-align: center;
    color: #fff;
    width: 25%;
}

.parent__results__table__item__content img  {
	margin-right: 5px;
}

.parent__results__table__item__content {
	width: 25%;
	align-items: center;
	text-align: center;
	padding: 14px 5px 9px 14px;

	p {
		font-size: 1.3rem;
		margin-bottom: 6px;
	}
}

.parent__color {
	background: #F4F7FB;
}

	.student__results__table__item{
		width: 25%;
		display: flex;
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

		.left-radius{
			border-top-left-radius: 8px;
		}
		.right-radius{
			border-top-right-radius: 8px;
		}

		.student__results__table__item__content{
			padding: 31px 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 25%;
			span{
				font-size: 31px;
				line-height: 100%;
				color:  #a0a3b0;
			}
			.green{
				color: #14B524;
			}
			.red{
				color: #EC4444;
			}
			img{
				margin-bottom: 9px;
			}
		}

		

.parent-results  .student__content__inner__title{
	@include student__title;
	margin-bottom: 5px;
	text-align: left;
	width: 39%;
}

.student__title__color {
	color: #fff;
}

.student__img {
	margin-right: 7px;
}

.popup5, .popup7 {
	width: 512px;
	padding: 66px 0 88px;
	flex-direction: column;
}

.popup__line1 {
	@include student__title;
	margin-bottom: 16px;
}

.popup__line2 {
	margin-bottom: 32px;
}

.popup6 {
	width: 512px;
}
.student__content__flex .student__content__info{
	width: 48%;
}
 .student__content__info {
	flex-direction: column;
	
}

.student__buttons {
	margin-bottom: 46px;
}

 .student__content__info .settings-input {
	width: 100%;
	margin-bottom: 23px;

}

 .student__content__info .settings-input-small {
	width: 100%;
}

.student__content__inner__subtitle_small {
	color: #4D4F66;
	margin-right: 20px;
}

.student__content__flex {
	display: flex;
	justify-content: space-between;
}
.popup__buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.popup6__btn {
	padding: 12px 20px;
 
}

.popup__buttons .btn__big {
	margin-right: 24px;
}

.overlay7 .btn__big {
	padding: 12px 32px;
	text-transform: none;
}

.student__buttons {
	display: flex;
}

 .overlay6 .student__content__inner__title {
	width: 179px; 
	font-weight: bold;
	font-size: 19px;
	line-height: 130%;
	text-align: center;
	color: #2269E8;
	border: none;
	border-bottom: 2px solid #2269E8;
	padding-bottom: 10px;
	
	background: #fff;

	&:first-child {
		margin-right: 30px;
	}
}


.create-account, .add-student{
	width: 512px;
	height: auto;
	display: none;
 
}
.create-account {
	display: block;

	.student__content__inner__title:nth-child(2n) {
		color: #4D4F66;
		opacity: 0.4;
		border: none;
	}
}

.add-student {
	.student__content__inner__title:first-child {
		color: #4D4F66;
			opacity: 0.4;
			border: none;
	}
}
.student__content__settings__info{
	width: 100%;
	.student__buttons{
		justify-content: center;
	}
	input{
		width: 100%;
	}
}