@import "./mixins.scss";

	body {
		font-family: $pagesFont;
	}

	.student__results__wrap {
		@include studentCard;
		height: 100%;
		width: 100%;
		padding: 57px 104px;
	}

	.student__results {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.student__results__title {
		display: flex;
		align-items: center;
		margin-bottom: 16px;

		.student__content__inner__title {
			margin-right: 16px;
		}
	}

	.student__content__passed__wrap {
		background: #E7E7E7;
		border-radius: 10px;
		width: 65%;
	}

	.student__content__passed {
		background: #34AB45;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: 80%;
		font-size: 14px;
		line-height: 24px;
		color: #fff;
		padding: 2px 16px;
		border-right: 16px solid #0B7A1B;

	}

.student__results__table {
	width: 100%;
	display: flex;
}

.student__results__table__item {
	width: 25%;
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #F4F7FB;
	border-right: 1px solid #fff;
	&:last-child{
		border-right: none;
	}
}

.left-radius {
	border-top-left-radius: 8px;
}

.right-radius {
	border-top-right-radius: 8px;
}

.student__results__table__item__content {
	padding: 31px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	span {
		font-size: 31px;
		line-height: 100%;
		color: #a0a3b0;
	}

	.green {
		@include greenSpan;
	}

	.red {
		@include redSpan;
	}

	img {
		margin-bottom: 9px;
		&+p{
			height: 34px;
		}
	}

	p img {
		margin-bottom: 0;
	}
}

.student__results__table__item__title {
	padding: 5px 0;
	font-size: 14px;
	border-right: 1px solid #fff;

	&:last-child {
		border-right: none;
	}

	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	width: 100%;
	background: #2269E8;
}
