$paddingVertSettings: 57px;
$paddingHorizSettings: 104px;
@import "./mixins.scss";

body {
	font-family: $pagesFont;
}

.student__content__settings_wrap{
	padding: $paddingVertSettings $paddingHorizSettings;
	@include studentCard;
}

.student__content__settings{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	@include borderBottomGrey;
}
.settings-input{
	color: #4D4F66;
	border: 1px solid #7D7D7D;
	border-radius: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	padding: 12px 16px;
	width: 100%;

	&:disabled {
		background: #F2F2F2;
		color: #a9abb5;
	}
	&:not([disabled]):focus, &:not([disabled]):active {
		border-color: $blueText;
		border-width: 2px;
		padding: 10px auto;
		& + label{
			color: #2269E8;
		}
	}
}
.student__content__inner__subtitle_small{
	@include student__content__inner__subtitle_small;
}
.student__content__settings__info{
	&:first-child{
		width: 45%;
	}
	&:last-child{
		width: 42%;
	}
	.student__content__inner__title{
		text-align: left;
	}
	.student__content__inner__subtitle_small{
		margin-bottom: 5px;
		margin-top: 23px;
	}
}

.student__content__settings__info__basic{
	padding-bottom: 48px;

}

.settings-input-label-wrap{
	display: flex;
	input{
		order: 2;
	}
	flex-direction: column;
	label{
		order: 1
	}
}
.settings-input-save{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 40px;
	order: 3;
	.student__content__button{
		background: #2269e8;
		color: #fff;
		height: $mainButtonHeight;
		margin-top: 0;
		width: 65%;
	}
	p{
		font-family: $pagesFont;
		width: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		letter-spacing: 0.01em;
		color: #505d68;
		height: $mainButtonHeight;
		margin-bottom: 0;
	}
}

.settings-input-wrap{
	position: relative;
	p{ 
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: $blueText;
		margin-top: 8px;
		&:hover{
			cursor: pointer;
		}
	}
}

.show-old-pass{
	position: absolute;
	top: 12px;
	right: 12px;
}
label[for="new-pass"]{
	.show-old-pass{
		top: 66px;
	}
}
.student__content__settings__info__photo{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid #7D7D7D;
	border-radius: 10px;
	padding: 40px 28px;
	margin-top: 24px;
	p{
		margin-top: 18px; 
		font-weight: normal;
		font-size: 12px;
		line-height: 160%;
		text-align: center;
	}
	img{
		margin-bottom: 24px;
		width: 200px;
		height: auto;
	}
}
.student__content__settings__info__photo__delete{ 
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
	line-height: 24px;
	color: $blueText;
}
.student__content__settings__delete{
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #424B5A;
	margin-top: 23px;
	margin-bottom: 16px;
	span{
		color: $blueText;
		&:hover{
			cursor: pointer;
		}
	}
}