@import "./mixins.scss";

body {
	font-family: $pagesFont;
}

 #content-student {
	background: #F4F7FB;
 }

.student{
	position: relative;
	padding-top: 53px;
	padding-bottom: 130px;
	min-height: 100vh;
}

.header__lang {
	margin-right: 14px;
	font-size: 1.4rem;
}

.student__wrap{
	background: #FFFFFF;
	padding: 40px 0;
	box-shadow: 0px 4px 8px rgba(23, 87, 202, 0.2);
	border-radius: 10px;
}

.student__about{
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	padding: 0 29px;
}

.student__about__avatar{
	width: 56px;
	height: 56px;
	margin-right: 10px;
}

.student__about__name{ 
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: #505D68;
}

.student__about__role{ 
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #A1AEB7;
}

.student__menu__item{
	display: flex;
	align-items: center;
	padding: 15px 36px;
	a{ 
		font-style: normal;
		font-weight: normal;
		letter-spacing: 0.03em;
		font-size: 14px;
		line-height: 24px;
		color: #424B5A;
		text-transform: none;
	}
	svg path{
		fill: #4D4F66;
	}
}
.student__menu__item__svg{
	width: 50px;
}
.student__menu__item_active{
	padding: 15px 32px;
	border-left: 4px solid $blueText;
	background: #D7DEE9;

	p{
		color: $blueText;
		font-weight: bold;
	}
	svg path{
		fill: $blueText;
	}
}

.student__content{
	min-height: 100%;
	
}
	.student__content__inner__title{
		@include student__content__inner__title;

	}
	.student__content__inner__subtitle{
		@include student__content__inner__subtitle;
	}

	.student__content__inner__subtitle_small{
		@include student__content__inner__subtitle_small;
	}
	.student__content__title{
		@include student__content__title;
	}
	.student__content__wrap{
		display: flex;
		align-items: center;
		height: 488px;
	}

		.student__content__lecture{
			background: #FFFFFF;
			box-shadow: 0px 4px 8px rgba(92, 93, 95, 0.2);
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			width: 75%;
			display: flex;
			height: 100%;
			flex-direction:  column;
			align-items: center;
			justify-content: center;
			margin-right: 32px;
			.student__content__inner__title{
				margin-top: 33px;
				margin-bottom: 15px;
			}
			img{
				width: 460px;
				height: 277px;
			}
			img.student__content__lecture_none{
				width: 408px;
				height: auto;
				margin-bottom: 30px;
			}

		}
		.student__content__exercise{
			// background: #FFFFFF;
			box-shadow: 0px 4px 8px rgba(23, 87, 202, 0.2);
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-ms-border-radius: 10px;
			-o-border-radius: 10px;
			width: 35%;
			display: flex;
			height: 100%;
			flex-direction:  column;
			align-items: center;
			justify-content: center;
			padding-top: 33px;
			padding-bottom: 16px;
			 
				img{
				width: 197px;
				height: 207px;
				margin-top: 22px;
				margin-bottom: 26px;
			}
			.student__content__inner__subtitle{
				width: 90%;
			}
		}
	.student__content__inner__subtitle_sm{
		font-weight: normal;
		font-size: 14px;
		line-height: 24px;
		color: #a6a7b2;
	}
	.student__content__button{
		@include student__content__button;
	}
	.student-start-lecture-modal {
		display: none;
		position: absolute;
		left: 50%;
		top: 100px;
		transform: translate(-50%,0);
		width: 72%;
		height: max-content;
		margin-bottom: 200px;
		background: #f4f7fb;
		box-shadow: 0 2px 10px rgba(0,0,0,.05);
		border-radius: 10px;
		padding: 15px;
		z-index: 10;
	}
	.student-start-lecture-modal__image{
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		svg{
		}

	}
		.student-start-lecture-modal-close{
			color: #C2C3C4;
			font-size: 24px;
			text-align: right;
			line-height: 1em;
			font-weight: bold;
			&:hover{
				cursor: pointer;
			}
		}

		.student-start-lecture-modal__title{			
			width: 80%;
			font-weight: bold;
			font-size: 46px;
			line-height: 130%;
			color: $blueText;
			margin-top: 64px;
			margin-bottom: 40px;
		}
		.student-start-lecture-modal__points{
			width: 70%;
			.student__content__button{
				margin-top: 50px;
				margin-bottom: 137px;
				width: 216px;
				background: #BDBDBD;
				padding: 13px 5px;
				height: 48px;
				&.active{
					background: $blueText;
				}
			}
		}
		.student-start-lecture-modal__points__item{
			display: flex;
			align-items: center;
			margin-bottom: 24px;
			&:last-of-type{
				margin-bottom: 0;
			}
			p {				
				font-weight: normal;
				font-size: 16px;
				line-height: 28px;
				color: #a6a9b6;
			}
			svg {
				opacity: 0;
				margin-right: 10.5px;
			}
			&.active{
				p{
					color: #4D4F66;
				}
				svg{
					opacity: 1;
				}

			}
		}

.student-hamburger-menu{
	color: $blueText;
	font-size: 24px;
	line-height: 25px;
}

.faded-screen{
	background-color: #0000008c;
	filter: brightness(0.5);
	// position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	-webkit-filter: brightness(0.5);
}